node_modules
.pnpm-store
.git
**/.git
**/.gitignore
**/.DS_Store
**/.turbo
**/.next
**/dist
**/build
**/.cache
**/.venv
**/coverage
**/tmp
**/.tmp
**/*.log
**/npm-debug.log*
**/pnpm-debug.log*
**/yarn-error.log*
.env
.env.*
.vscode
.idea
**/.eslintcache
**/.tsbuildinfo


